In [1]:
#%%
import pandas as pd
import numpy as np
from tqdm.notebook import trange, tqdm
import folium
from folium import plugins

In [3]:
# Layout of the columns
layout_df = pd.read_csv('/Users/thomas.farrandibm.com/Documents/GitHub/vietnam_air_records/data/SITRA/SITRA.TR.6668',
                        delimiter='\t',
                        skipinitialspace=True,
                        header=None)
layout_df

                                                        0
0       660520W003   VS                           6715...
1       660731SC0111MVS                           6712...
2       660731SC0113AVS                           6712...
3       660731SC0113AVS                           6712...
4       660731SC0113AVS                           6712...
...                                                   ...
239971  681228W004  BVS                           6915...
239972  681228W004  BVS                           6915...
239973  681228W004  BVS                           6915...
239974  681228W004  BVS                           6915...
239975  681228W004  BVS                           6915...

[239976 rows x 1 columns]